{% extends 'base.html' %}

{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'blog/blogPost.css' %}">
{% endblock links %}


{% block title %}Blog-Posts{% endblock title %}

{% block body %} 

<main>

    <h4 class="category">{{blogPost.category}}</h4>
    <h3 class="topic">{{blogPost.topic}}</h3>

    <p class="author">By {{blogPost.author}}</p>
    <p class="date">{{blogPost.date}}</p>

    <p class="desc">{{blogPost.desc}}</p>


</main>


<script>
    let active = document.querySelectorAll(".nav-link");
    console.log(active[1]);
    active[0].classList.remove("active");
    active[1].classList.add("active");

</script>
{% endblock body %}